---
- name: 'Add apt repositories'
  become: true
  ansible.builtin.apt_repository:
    repo: '{{ item }}'
  loop:
    - ppa:longsleep/golang-backports

- name: 'Install packages'
  become: true
  ansible.builtin.package:
    name: '{{ item }}'
    state: latest
  loop:
    - golang

- name: 'Register GOLANG_PATH variable'
  ansible.builtin.command:
    argv: [echo, "{{ (ansible_env.GOPATH | default(ansible_env.HOME + '/go')) + '/bin' }}"]
  register: GOLANG_PATH
  check_mode: false
  changed_when: false
