---
- name: 'Add apt repositories'
  become: true
  ansible.builtin.apt_repository:
    repo: '{{ item }}'
  loop:
    - ppa:longsleep/golang-backports

- name: 'Install packages'
  become: true
  ansible.builtin.package:
    name: '{{ item }}'
    state: latest
  loop:
    - golang
