- hosts: localhost
  tasks:
    - when: ansible_env.WSL_DISTRO_NAME is defined
      block:
      - name: 'Register windows_home variable'
        ansible.builtin.shell: |
          set -eu
          profile=$(powershell.exe -Command Write-Host '$Env:USERPROFILE')
          wslpath "$profile"
        check_mode: false
        changed_when: false
        register: windows_home
        tags: always
      - name: 'Print windows_home variable'
        ansible.builtin.debug:
          msg: '{{ windows_home.stdout }}'
        tags: always

- hosts: localhost
  roles:
    - role: homebrew
      tags: homebrew
    - role: ghq
      tags: ghq
    - role: git-credential-keepassxc
      tags: git-credential-keepassxc
      vars:
        version: v0.14.1
      when: not windows_home.skipped
    - role: ssh
      tags: ssh

- hosts: localhost
  tasks:
    - name: 'Put Links to Windows Directories in "HOME"'
      ansible.builtin.file:
        src: '{{ windows_home.stdout }}/{{ item }}'
        dest: '{{ ansible_env.HOME }}/{{ item }}'
        state: link
      loop:
        - 'Desktop'
        - 'Documents'
        - 'Downloads'
        - 'Music'
        - 'Pictures'
        - 'Videos'
      when: not windows_home.skipped

    - name: 'ghq get'
      ansible.builtin.command:
        argv: [ghq, get, '{{ item }}']
      changed_when: result.stderr is not search("exists")
      environment:
        PATH: '{{ GOLANG_PATH.stdout }}:{{ ansible_env.PATH }}'
      loop:
        - git@github.com:gidoichi/local-configuration.git
      register: result

    - name: 'brew install'
      ansible.builtin.command:
        argv: ['{{ BREW.stdout }}', install, '{{ item }}']
      changed_when: result.stderr is not search(" is already installed and up-to-date.")
      loop:
        - gidoichi/tap/pmo
      register: result

    - block:
      - name: 'Install packages'
        become: true
        ansible.builtin.package:
          name: '{{ item }}'
          state: latest
        loop:
          - jq
      - name: 'brew install'
        ansible.builtin.command:
          argv: ['{{ BREW.stdout }}', install, '{{ item }}']
        changed_when: result.stderr is not search(" is already installed and up-to-date.")
        loop:
          - yq
        register: result

- hosts: localhost
  roles:
    - role: dotfiles
      tags: dotfiles
    - role: emacs
      tags: emacs
    - role: zsh
      tags: zsh
    - role: kubectl
      tags: kubectl
