---
- name: 'ghq get'
  ansible.builtin.command:
    argv: [ghq, get, '{{ item }}']
  changed_when: result.stderr is not search("exists")
  environment:
    PATH: '{{ GOLANG_PATH.stdout }}:{{ ansible_env.PATH }}'
  loop:
    - git@github.com:gidoichi/dotfiles.git
  register: result

- name: 'Run install.sh'
  ansible.builtin.command:
    argv: ['{{ GHQ_ROOT.stdout }}/github.com/gidoichi/dotfiles/install.sh']
  register: result
  changed_when: result.stderr | length > 0
