---
- name: 'ghq get'
  ansible.builtin.command:
    argv: [ghq, get, '{{ item }}']
  changed_when: result.stderr is not search("exists")
  environment:
    PATH: '{{ GOLANG_PATH.stdout }}:{{ ansible_env.PATH }}'
  loop:
    - git@github.com:gidoichi/dotfiles.git
  register: result

- name: 'Install packages'
  become: true
  ansible.builtin.package:
    name: '{{ item }}'
    state: latest
  loop:
    # https://github.com/gidoichi/dotfiles/blob/733225ff751cf4ae6fdbca8e6af9c7d661022e62/.shell/init.d/20-config.sh#L126
    - fzf

- name: 'Install'
  ansible.builtin.command:
    argv: ['{{ GHQ_ROOT.stdout }}/github.com/gidoichi/dotfiles/install']
  register: result
  changed_when: result.stderr | length > 0
