---
- name: 'asdf install'
  ansible.builtin.shell: |
    '{{ ASDF.stdout }}' plugin add '{{ item }}'
    '{{ ASDF.stdout }}' install '{{ item }}' latest
  register: result
  changed_when: result.stderr is not search(" is already installed")
  loop:
    - kubectl

- name: 'brew install'
  ansible.builtin.command:
    argv: ['{{ BREW.stdout }}', install, '{{ item }}']
  register: result
  changed_when: result.stderr is not search(" is already installed and up-to-date.")
  environment:
    PATH: '{{ BREW_PATH.stdout }}:{{ ansible_env.PATH }}'
  loop:
    - gidoichi/tap/asdf-match
    - kube-ps1
    - kubecolor
    - kubectx

- name: 'Install packages'
  become: true
  ansible.builtin.package:
    name: '{{ item }}'
    state: latest
  loop:
    - colordiff
